/* ------------------------------------ *\
    #LOADING INDICATOR
\* ------------------------------------ */

$loading-indicator--content-bg-color: $gray-700;
$loading-indicator-light-color: $gray-300;
$loading-indicator-dark-color: $gray-700;
$c-loading-indicator--size: 72px;
$c-loading-indicator--saving-size: 18px;
$c-loading-indicator--with-message-size: 30px;

.c-loading-indicator {
    align-items: center;
    display: flex;
    justify-content: center;

    &--vertical {
        flex-direction: column;
    }
}

.c-loading-indicator__spinner {
    animation: spin .8s linear infinite;
    border-bottom: 2px solid $loading-indicator-light-color;
    border-left: 2px solid $loading-indicator-light-color;
    border-radius: 100%;
    border-right: 2px solid $loading-indicator-light-color;
    border-top: 2px solid $loading-indicator-dark-color;
    height: $c-loading-indicator--size;
    width: $c-loading-indicator--size;

    &--saving {
        height: $c-loading-indicator--saving-size;
        margin-right: 10px;
        width: $c-loading-indicator--saving-size;
    }

    &--with-message {
        height: $c-loading-indicator--with-message-size;
        width: $c-loading-indicator--with-message-size;
    }
}

.c-loading-indicator__content {
    color: $loading-indicator--content-bg-color;
    font-size: 16px;
    text-align: center;

    &--horizontal {
        max-width: 600px;
        padding-left: 1em;
    }

    &--vertical {
        display: block;
        min-width: 300px;
        padding-top: 1em;
    }

    &--saving {
        font-size: 13px;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
