///*------------------------------------*\
//    #EMMA BRAND COLORS
//\*------------------------------------*/

///**
//* low -> high = light -> dark
//* 400 is usually the default color
//* https://myemma.atlassian.net/wiki/display/UX/Color+Palette
//*/

// #INKY
$inky-100: #DCE1E7;
$inky-200: #8EA0B0;
$inky-300: #516474;
$inky-400: #2F4856;
$inky-500: #233947;
$inky-600: #0B1F29;
$inky-700: #00607C;
$inky: $inky-400;

// #ICY
$icy-100: #CFE9F6;
$icy-200: #B5DDF0;
$icy-300: #87CFED;
$icy-400: #5AC3E8;
$icy-500: #35AFD8;
$icy-600: #0191BC;
$icy: $icy-400;

// #BUTTERY
$buttery-100: #FFF5D6;
$buttery-200: #FFECA3;
$buttery-300: #FFE371;
$buttery-400: #FCD72B;
$buttery-500: #F5C71E;
$buttery-600: #EBAF1F;
$buttery-700: #D7971E;
$buttery: $buttery-400;

// #BLAM
$blam-100: #FDE5E6;
$blam-200: #F4AFAD;
$blam-300: #F08585;
$blam-400: #E9605B;
$blam-500: #CF504C;
$blam-600: #AE423C;
$blam-700: #9F342F;
$blam: $blam-500;

// #MINTY
$minty-100: #E0F1EC;
$minty-200: #BFE4DD;
$minty-300: #A4D9CA;
$minty-400: #7ACAB6;
$minty-500: #5AB8A3;
$minty-600: #049380;
$minty: $minty-400;

// #TANGY
$tangy-100: #FDE4D7;
$tangy-200: #FCC7A4;
$tangy-300: #F89F6E;
$tangy-400: #F47939;
$tangy-500: #DF672C;
$tangy-600: #CA5227;
$tangy: $tangy-400;

// #SLIME
$slime-100: #EDF3D0;
$slime-200: #C6DD76;
$slime-300: #ABC637;
$slime-400: #93AF38;
$slime-500: #73913B;
$slime-600: #4F7033;
$slime-700: #3D5B23;
$slime: $slime-500;

// #GRAPE
$grape-100: #EDE4EB;
$grape-200: #C09DB9;
$grape-300: #9E648C;
$grape-400: #873F72;
$grape-500: #69315F;
$grape-600: #4F1C4A;
$grape: $grape-400;

// #GRAY
$gray-100: #F3F4F6;
$gray-200: #E2E3E5;
$gray-300: #CED1D5;
$gray-400: #B8BCC2;
$gray-500: #9B9EA3;
$gray-600: #84878E;
$gray-700: #71767E;
$gray-800: #565A63;
$gray-900: #40454F;
$gray-1000: #212833;

$white: #FFF;
$black: #000;
$blue:  #1977A2;
